body {
  font-family: palatino;
   background-image: url("pokemon.jpeg");
   background-attachment: fixed;
   background-position: center;
   background-size: 30%;
   background-repeat: repeat;
   background-color: white;
   color: blue;
   font: 'Merriweather';
}

ul, li {
  color: blue;
  margin-bottom: 15px;
  text-transform: uppercase;
  font: 'Merriweather';
  font-weight: bold;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-item {
  margin-right: 1.8rem;
}

label.primary {
  display: block;
  margin: 0.4em 0;
  color: blue;
  font: 'Merriweather';
  font-weight: bold;
  font-size: 25px;
}

label::after {
  content: ":";
}

button, input[type='submit'] {
  margin-top: 1rem;
}

#pokemon-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.pokemon-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #20437c;
  border-radius: 5%;
  background: white;
  color: blue;
  font: 'Merriweather';
}
